{% extends "general/layout.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Reservas Recurrentes{% endblock %}

{% block page_content %}

<h1>Reservas Recurrentes</h1>
{% include "_includes/_messages.html" %}


<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Buscar opciones</button>
</form>

<hr>

{% if available_groups %}
<h2>Opciones disponibles</h2>


<form method="post">
    {% csrf_token %}

    <input type="hidden" name="service" value="{{ selected.service }}">

    <p><strong>Selecciona un grupo de fechas:</strong></p>

    {% for g in available_groups %}
        <label style="display:block; margin-bottom:12px;">
            <input type="radio" class="input" name="selected_group" value="{{ g.json }}">
            {% for d in g.list %}
                <p>{{ d }}</p>
            {% endfor %}
        </label>
    {% endfor %}

    <button type="submit" class="change_button" disabled>Siguiente</button>
</form>

{% endif %}

    {% if available_times %}
    <h3>Horarios disponibles</h3>

    <strong>Para las fechas:</strong>
    <ul>
        {% for date in selected.selected_group %}
            <li>{{ date }}</li>
        {% endfor %}
    </ul>

    <strong>Los horarios disponibles son:</strong>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="selected_group" value="{{ selected_group_json }}">
        <input type="hidden" name="service" value="{{ selected.service }}">

        {% for t in available_times %}
            <label style="display:block; margin-bottom:12px;">
                <input type="radio" class="input" name="time_range" value='{"time_start": "{{ t.time_start }}", "time_end": "{{ t.time_end }}"}'>
                <p>{{ t.time_start }} - {{ t.time_end }}</p>
            </label>
        {% endfor %}

        <button type="submit" class="change_button" disabled>Siguiente</button>
    </form>
    {% endif %}

    <script>
    document.addEventListener("DOMContentLoaded", () => {

        const forms = document.querySelectorAll("form");

        forms.forEach(form => {
            const radios = form.querySelectorAll('input[type="radio"]');
            const button = form.querySelector('.change_button');

            if (radios.length === 0 || !button) return;

            button.disabled = true;

            radios.forEach(radio => {
                radio.addEventListener("change", () => {
                    button.disabled = false;
                });
            });
        });

    });
    </script>

{% endblock %}

